{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script>
    (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[5] = 'BIRTHDAY';
        ftypes[5] = 'birthday';
        fnames[6] = 'MMERGE6';
        ftypes[6] = 'text';
        fnames[4] = 'PHONE';
        ftypes[4] = 'phone';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>
{% endblock%}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Contact Us</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-3">
            <div class="row d-flex align-items-start">
                <div class="col-12 col-md-6">
                    <div>
                        <p>
                            Welcome to Mystic Dreams! We celebrate the magic of femininity with enchanting lingerie
                            and
                            nightwear, crafted by small producers and women artisans. Each piece in our collection
                            is
                            made with love, embodying our commitment to empowering women and supporting local
                            craftsmanship. Join us in our magical world where each item tells a story of beauty and
                            strength.
                        </p>
                        <p>
                            We'd love to hear from you! Whether you have questions about our collection or have
                            suggestions on how we can improve, your thoughts are invaluable to us.
                        </p>
                    </div>

                    <div class="image-container my-5">
                        <img class="img-fluid" src="../media/FW2024CI005E-4.png" alt="white embroidered lingerie set">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    
                    <div class="m-3">
                        <p>
                            <i class="fa-regular fa-envelope"></i> mysticintimates@example.com
                        </p>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}