<div class="collapse navbar-collapse" id="main-nav">
    <ul class="fs-4 navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-bgdy mr-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop All
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=color&direction=asc" class="dropdown-item ">By Colour</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-bgdy mr-5" href="#" id="clothing-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Intimates
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=lingerie_set" class="dropdown-item">Lingerie Set</a>
                <a href="{% url 'products' %}?category=bras" class="dropdown-item">Bras</a>
                <a href="{% url 'products' %}?category=bottoms" class="dropdown-item">Bottoms</a>
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item">Garter Belt</a>
                <a href="{% url 'products' %}?category=lingerie_set,bras,bottoms,accessories" class="dropdown-item">All Intimates</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-bgdy mr-5" href="#" id="homeware-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nightwear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=nighties" class="dropdown-item">Nighties</a>
                <a href="{% url 'products' %}?category=pajamas" class="dropdown-item">Pajamas</a>
                <a href="{% url 'products' %}?category=robes" class="dropdown-item">Robes</a>
                <a href="{% url 'products' %}?category=nighties,pajamas,robes" class="dropdown-item">All Nightwear</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-bgdy" href="#" id="specials-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Collections
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?collection=Enchanted_Garden_Collection" class="dropdown-item">Enchanted garden</a>
                <a href="{% url 'products' %}?collection=Ethereal_Blossom_Collection" class="dropdown-item">Ethereal Blossom</a>
                <a href="{% url 'products' %}?collection=Fairy_Whisper_Collection" class="dropdown-item">Fairy whisper</a>
                <a href="{% url 'products' %}?collection=Forest_Nymph_Collection" class="dropdown-item">Forest nymph</a>
                <a href="{% url 'products' %}?collection=Pixie_Dust_Collection" class="dropdown-item">Pixie Dust</a>
            </div>
        </li>
    </ul>
</div>