<div class="collapse navbar-collapse" id="main-nav">
    <ul class="fs-4 navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-bgdy mr-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop All
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Size</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-bgdy mr-5" href="#" id="clothing-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Intimates
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Lingerie Set</a>
                <a href="" class="dropdown-item">Bras</a>
                <a href="" class="dropdown-item">Bottons</a>
                <a href="" class="dropdown-item">Garter Belt</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-bgdy mr-5" href="#" id="homeware-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nightwear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Nighties</a>
                <a href="" class="dropdown-item">Pajamas</a>
                <a href="" class="dropdown-item">Robes</a>
                <a href="" class="dropdown-item">All Nightwear</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-bgdy" href="#" id="specials-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Collections
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Enchanted garden</a>
                <a href="" class="dropdown-item">Ethereal Blossom</a>
                <a href="" class="dropdown-item">Fairy whisper</a>
                <a href="" class="dropdown-item">Forest nymph</a>
                <a href="" class="dropdown-item">Pixie Dust</a>
            </div>
        </li>
    </ul>
</div>