{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Pompiere&display=swap" rel="stylesheet">
    <!-- Static CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/467e25aa0a.js" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Mystic Dream {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid fixed-top">
        <!--banner-->
        <div id="delivery-banner" class="row text-end pt-lg-2 d-none d-lg-flex" aria-hidden="true">
            <div class="col-sm marquee fs-3 my-1">
                <span>
                    Free delivery on orders over ${{ free_delivery_threshold }}!
                </span>
            </div>
            <div class="col-sm marquee fs-3 my-1">
                <span>
                    Free delivery on orders over ${{ free_delivery_threshold }}!
                </span>
            </div>
            <div class="col-sm marquee fs-3 my-1">
                <span>
                    Free delivery on orders over ${{ free_delivery_threshold }}!
                </span>
            </div>
        </div>

        <div class="row nav-bg py-3 pt-lg-2 d-none d-lg-flex border-bgdy">
            <!--Logo-->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font text-bgdy my-0">Mystic Dreams</h2>
                </a>
            </div>
            <!--Search-->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group border border-bgdy rounded-pill w-100">
                        <input class="form-control rounded-start-pill" type="text" name="q" placeholder="Search">
                        <div class="input-group-append">
                            <button class="form-control btn btn-bgdy rounded-end-pill" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <!--Profile-->
                    <li class="list-inline-item dropdown">
                        <a class="text-bgdy nav-link" href="#" id="user-options" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <!--Shopping Bag-->
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-bgdy{% endif %} nav-link"
                            href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                    $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row nav-bg">
            <!-- Mobile toggle -->
            <nav class="navbar navbar-expand-lg w-100">
                <div class="col-12 d-flex justify-content-center d-block d-sm-none">
                    <div class="col-sm-12 my-auto py-1 py-lg-0 text-center text-lg">
                        <a href="{% url 'home' %}" class="nav-link">
                            <h2 class="logo-font text-bgdy my-0">Mystic Dreams</h2>
                        </a>
                    </div>
                </div>
                <div class="container-fluid col-12 d-flex mr-5">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
                        aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% include 'includes/mobile-top-header.html' %}
                    {% include 'includes/main-nav.html' %}
                </div>

            </nav>
        </div>
    </header>

    {% if messages %}
    <div class="message-container">
        <!-- Toast Messages -->
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>

    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <!-- Toast JS -->
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}

</body>

</html>