html {
    height: 100%;
}

body {
    background: url('/static/images/bannerback.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    background-color: #f30080;
    color: #555;
    font-family: "Jost", sans-serif;
    overflow-x: hidden;
}

/* ------------------------------- header */

.logo-font {
    font-size: 3em;
    text-decoration: none;
    color: #f30080;
}

.main-logo-link {
    width: fit-content;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 15s linear normal infinite;
    
}

@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

/* ------------------------------- NavBar */

.nav-bg {
    background-color: #000;
}

.navbar {
    box-shadow: 0px 6px 6px #f30080;
}
.navbar a:hover {
    text-shadow: 1px 1px 2px white, -1px -1px 5px #f30080;
    text-decoration: 0.5px underline;
    text-underline-offset: 8px;
}

.fa-bars {
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
}

#delivery-banner {
    background: #f30080;
    color: #ffff;
    text-shadow: 1px 1px 2px #660000;
}

/* from Bulma */
.icon,
.i {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/*Index*/

.bnnr-text {
    font-weight: 500;
    color: #120147;
    text-shadow: 2px -1px 4px #e831da, -2px 1px 0em white;
    background-color: #e3e3e38a;
    padding: 19px;
}

.index-content {
	background: white;

}

.category-item {
    margin-right: 15px;
}

.category-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    color: #000;
    font-weight: bold;
}

.category-title {
    margin-top: 5px;
}

.list-group-item-action {
    list-style: none;

}

.category-item .category-image {
    width: 70%;
    transition: transform ease .2s;
}

.category-item .category-image:hover {
    transform: scale(1.1);
}

.carousel-container {
    background: #ffff;
}

.carousel-control-prev-icon{
    padding-right: 10rem;
}

.carousel-control-next-icon {
    padding-left: 10rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    margin-bottom: 4rem;
    color: #f30080;
    background-image: none; /* Removes the default icon */
}

.carousel-control-prev-icon:after {
    content: '\2039'; /* Unicode character for the left arrow */
    font-size: 55px;
}

.carousel-control-next-icon:after {
    content: '\203A'; /* Unicode character for the right arrow */
    font-size: 55px;
}

/*Faq*/

.accordion {
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #f3008249;
}
.accordion-button:not(.collapsed) {
    background-color: #f3008249;
    color: #000;
    font-weight: bold;
}

/*Default Styles*/
.text-bgdy {
    color: #ffff !important;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button {
    background: #f30080;
    color: #fff;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-bgdy {
    background: #f30080;
    color: #fff;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-bgdy:hover,
.btn-bgdy:active,
.btn-bgdy:focus {
    background: #fff;
    color: #f30080;
    border-color: solid 1px #f30080;

}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    font-weight: bold;
}

.overlay {
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge {
    color: #f30080 !important;
    background: #fff !important;
    border: solid 2px #f30080 !important;
}
a.category-badge > span.badge:hover {
    background: #ee376a !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 8rem;
    right: 20px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Cards */

.card-header {
    overflow: hidden;
    position: relative;
    z-index: 1;
    background: transparent;
}

.wish-btn {
    font-size: 2rem;
    text-decoration: none;
    border: none;
    color: #f30080;
}

.wish-nav {
    text-decoration: none;
    color: #fff;

}

.card-header .wish-btn {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 10px;
    right: -50px;
    transition: all .5s ease 0s;
}
.card-header:hover .wish-btn{ 
    right: 10px;
    display: block;
    transition: all 0.3s;
}

.card-header .view-btn{
    background: #f30080;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: -60px;
    transition: all 0.3s ease 0s;
}
.card-header:hover .view-btn{
    bottom: 0;
    text-shadow: 1px 1px 2px #660000;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content h1 {
    font-size: 3em;
    color: #f30080;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.errorbck {
    background-color: #e3e3e38a;
    padding: 19px;
}
.empty-container {
    height: 42vh;
}

/*Footer*/
.footer-div {
    background: #f30080;

}
footer {
    color: #000;
    bottom: 0;
}

footer a {
    text-decoration: none;
}

/*Mailchimp*/
#mc_embed_signup {
    clear: left;
    width: 100%;
}
.contact-form {
    background: #fff;
    clear: left;
    width: 600px;
}

#mce-MMERGE6 {
    height: 100px;
    padding-top: 5px;
    overflow: scroll;
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }

}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        overflow-x: hidden;
    }

    .header-container {
        padding-top: 164px;
    }

}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    body {
        overflow-x: hidden;
    }
    .header-container {
        padding-top: 90px;
    }

    body {
        height: calc(100vh - 116px);
    }
    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .index-content {
        display: none;
    }
    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}